// export module
const Discord = require("discord.js");
const botConfig = require("@config/bot.js");
const { getFooter } = require("@modules/utils/data");
const emoji =require('@config/emojis.js');
require("@modules/localization.js");

module.exports = {
	name : "", 
	aliases : [],
	ussage : '',
	examples: [],
	permissions: [], 
	botPermissions: [], 
	hidden : false,  
	admin : false,  
	nsfw : false,  
	cooldown: 0, 

async execute(client, message, args) {


 
  }
}