        <!-- Features Section -->
        <section class="relative">
            <h2 class="text-center text-3xl font-bold mb-10 text-textMain">Características</h2>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-10">
                <div class="overflow-hidden rounded-xl p-6 bg-white bg-opacity-10 backdrop-blur-sm">
                    <div class="flex items-center text-primary">
                        <p class="text-sm font-bold uppercase">Fácil de usar</p>
                        <svg xmlns="http://www.w3.org/2000/svg" class="ml-2 h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" />
                        </svg>
                    </div>
                    <h3 class="mt-4 text-2xl font-semibold text-textMain">Comandos intuitivos</h3>
                    <p class="mt-4 text-textSecondary">Interactúa con el bot de forma natural y sencilla con comandos fáciles de recordar.</p>
                </div>

                <div class="overflow-hidden rounded-xl p-6 bg-white bg-opacity-10 backdrop-blur-sm">
                    <div class="flex items-center text-primary">
                        <p class="text-sm font-bold uppercase">Personalizable</p>
                        <svg xmlns="http://www.w3.org/2000/svg" class="ml-2 h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" />
                        </svg>
                    </div>
                    <h3 class="mt-4 text-2xl font-semibold text-textMain">Ajusta a tus necesidades</h3>
                    <p class="mt-4 text-textSecondary">Configura el bot para que se adapte perfectamente a tu servidor y comunidad.</p>
                </div>
            </div>
        </section>
